.main-content .shadow {
  padding: 10px 20px; }

.category i {
  margin: 0 5px; }
.category a {
  color: #1abc9c;
  text-decoration: none; }
  .category a:hover {
    color: #16a085; }

.title h1 {
  font-weight: bold;
  margin-top: 10px; }

.article-content h2 {
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px; }

.tags a {
  display: inline-block;
  background-color: #d5ebe8;
  padding: 5px;
  margin: 0 0 7px 5px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-style: italic; }
  .tags a:hover {
    background-color: #16a085;
    color: white; }

.authors {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px; }

.tags {
  clear: both; }
  .tags a {
    font-style: normal; }

.comments {
  margin-top: 20px; }
  .comments .picture {
    width: 48px;
    padding: 0; }
  .comments textarea {
    resize: vertical; }
  .comments button {
    float: right; }
  .comments .new-comment {
    border-bottom-width: 1.8px;
    border-bottom-style: ridge;
    margin-bottom: 1px;
    padding: 10px 15px; }
    .comments .new-comment .new-comment-form {
      margin: 0; }
      .comments .new-comment .new-comment-form .new-comment-content {
        padding: 0; }
      .comments .new-comment .new-comment-form .new-comment-send {
        margin-top: 10px;
        padding-right: 0; }
        .comments .new-comment .new-comment-form .new-comment-send .send-button {
          padding-right: 0; }
  .comments .comment-quantity {
    background-color: #ecfbf8;
    padding: 5px 10px; }
    .comments .comment-quantity span {
      font-size: 16px;
      font-weight: bold;
      border-bottom: 3px solid black;
      padding-bottom: 5px; }
  .comments .body-comment .comment-area {
    margin: 10px 0 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #1abc9c; }
    .comments .body-comment .comment-area:last-child {
      border-bottom: none; }
    .comments .body-comment .comment-area .content {
      padding: 0 0 0 10px; }
      .comments .body-comment .comment-area .content .name {
        margin-bottom: 5px;
        font-weight: bold; }
      .comments .body-comment .comment-area .content .comment {
        margin-bottom: 0; }
    .comments .body-comment .comment-area .like {
      padding-right: 0;
      margin-left: calc(16.66666667% - 48px); }
      .comments .body-comment .comment-area .like a:before {
        content: '\f08a';
        padding-right: 3px;
        font-size: 12px; }
      .comments .body-comment .comment-area .like a:focus {
        background-color: #1abc9c;
        color: white;
        text-decoration: none; }
    .comments .body-comment .comment-area .reply .reply-button {
      padding-right: 0; }
      .comments .body-comment .comment-area .reply .reply-button span:before {
        content: '\f112';
        padding-right: 2px;
        font-size: 7px; }
    .comments .body-comment .comment-area .reply-form {
      display: none;
      padding-left: 40px;
      margin-top: 10px; }
      .comments .body-comment .comment-area .reply-form .reply-form-top {
        margin: 0;
        padding: 5px 10px;
        background-color: #ecfbf8;
        border-top: 0.5px solid #1abc9c; }
        .comments .body-comment .comment-area .reply-form .reply-form-top .title {
          padding-left: 0;
          font-weight: bold; }
        .comments .body-comment .comment-area .reply-form .reply-form-top .cancel {
          padding-right: 0;
          text-align: right; }
          .comments .body-comment .comment-area .reply-form .reply-form-top .cancel i {
            cursor: pointer; }
      .comments .body-comment .comment-area .reply-form .reply-form-body {
        margin: 0;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #fcfcfc; }
        .comments .body-comment .comment-area .reply-form .reply-form-body .reply-content {
          padding-left: 4px;
          padding-right: 0; }
        .comments .body-comment .comment-area .reply-form .reply-form-body .reply-send {
          margin: 10px 0; }
          .comments .body-comment .comment-area .reply-form .reply-form-body .reply-send .send-button {
            padding: 0; }
            .comments .body-comment .comment-area .reply-form .reply-form-body .reply-send .send-button button {
              padding: 5px 10px; }
  .comments .body-comment .text-style {
    border-radius: 2px;
    background-color: #fbfbfb;
    padding: 6px 12px;
    color: #1abc9c;
    font-weight: normal; }
    .comments .body-comment .text-style:hover {
      text-decoration: none;
      color: #16a085;
      background-color: #f2f2f2;
      cursor: pointer; }

/*# sourceMappingURL=article.css.map */
