.body{
  position: relative;
}
.main-content {
}

.category {
  i {
    margin: 0 5px;
  }
  a{
    color: #1abc9c;
    text-decoration: none;
    &:hover{
      color: #16a085;
    }
  }
}

.title {
  h1 {
    font-weight: bold;
    margin-top: 10px;
  }
}

.tags {
  a {
    background-color: #d5ebe8;
    padding: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-style: italic;
    &:hover {
      background-color: #16a085;
      color: white;
    }
  }
}

.authors {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tags {
  clear: both;
  a {
    font-style: normal;
  }
}