.title {
  font-size: 17px;
  a {
    color: #34495e;
    &:hover {
      color: #2c3e50;
    }
  }
}

.category {
  /*background-image: linear-gradient(to bottom, #1abc9c, white);*/
  background-color: #1abc9c;
  width: 20%;
  padding: 5px 0;
  margin-bottom: 10px;
  box-shadow: 1px 1px 8px 0.5px #88aaaa;
  p {
    margin: 0;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}

.top-articles {
  margin-bottom: 20px;
  .newest-article {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding: 0;
    width: 316px;
    .picture {
      background-color: rgba(238, 253, 252, 0.88);
      width: 300px;
      height: 200px;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  .hot-day {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 379px;
    overflow-y: auto;
    .title {
      p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        text-shadow: 1px 1px 1px #16a085;
      }
    }
    ul {
      padding: 0;
    }
  }
}

.related-news {
  margin-bottom: 20px;
  border-top: 1px solid #1abc9c;
  padding-top: 20px;
  .picture {
    display: inline-block;
    background-color: rgba(238, 253, 252, 0.88);
    width: 220px;
    height: 140px;
    text-align: center;
    margin-right: 10px;
  }
  .text {
    display: inline-block;
    vertical-align: top;
    .title {
    }
    .content {
      h2 {
        font-size: 17px;
        margin-top: 10px;
      }
    }
  }
}

.pagination {
  margin: 30px 0 30px 35%;
  li:before{
    content: '';
  }
}