.categories-menu {
  padding-top: 10px;
  .category {
    display: inline-block;
    width: 27%;
    vertical-align: top;
    margin-right: 35px;
    margin-bottom: 20px;
    .head {
      background-image: linear-gradient(to bottom, #1abc9c, white);
      text-align: center;
      width: 60%;
      margin-bottom: 10px;
      padding: 5px 10px;
      &:hover {
        background-image: linear-gradient(to bottom, #16a085, white);
        cursor: pointer;
      }
      a {
        color: black;
        font-weight: bold;
        font-size: 23px;
        text-decoration: none;
      }
    }
    .articles {
      .article {
        padding-bottom: 10px;
        .title {
          margin-top: 10px;
          height: 10%;
          overflow-y: hidden;
          a {
            color: #34495e;
            &:hover {
              color: #2c3e50;
            }
          }
        }
      }
      .articles-list{
        ul{
          padding-left:0;
        }
      }
    }
  }
}