.new-articles {
  padding-top: 10px;
}

.newest-article {
  border-bottom: 1px solid #1abc9c;
  .picture {
    float: left;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
  }
  .title {
    float: left;
    width: 200px;
    margin-left: 15px;
    a {
      color: #2c3e50;
      font-weight: bold;
      font-size: 17px;
      &:hover {
        color: #34495e;
      }
    }
  }
  .content {
    clear: both;
    margin-bottom: 10px;
    h2 {
      strong {
        font-weight: normal;
      }
      font-size: 17px;
      margin-top: 10px;
    }
  }
}

.latest-articles {
  margin-top: 15px;
}

.article {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 20px;
  vertical-align: top;
  .picture {
    width: 210px;
    height: 140px;
    margin-bottom: 5px;
    text-align: center;
  }
  .title {
    width: 220px;
    a {
      color: #2c3e50;
      font-weight: bold;
      font-size: 16px;
      &:hover {
        color: #34495e;
      }
    }
  }
}

.sidebar-right {
  padding: 0 20px 10px 20px;
  margin-left:15px;
  width: calc(33.33% - 15px);
  .sidebar-header {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    a {
      color: black;
      font-size: 20px;
      font-weight: bold;
    }
    a:hover {
      color: #1abc9c;
      text-decoration: none;
    }
  }
  .sidebar-body {
    .video-area {
      border-bottom: 1px solid #1abc9c;
      padding: 10px;
      margin-top: 10px;
      .video {
        background-color: rgba(26, 188, 156, 0.2);
        height: 120px;
        margin-bottom: 10px;
      }
      .title {
        width: 220px;
        a {
          color: #2c3e50;
          font-weight: bold;
          &:hover {
            color: #34495e;
            text-decoration: none;
          }
        }
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.articles-by-category {
  margin-top: 20px;
  padding:0;
  .category {
    padding: 0;
    margin-bottom: 30px;
    .head {
      div {
        display: inline-block;
        border-radius: 0 0 15px 0;
        background-color: #1abc9c;
        padding: 8px 20px;
        margin-bottom: 15px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        &:hover {
          color: #ecf0f1;
          background-color: #16a085;
        }
      }
    }
    .article {
      margin-left: 15px;
      display: inline-block;
      vertical-align: top;
    }
    .articles-list {
      display: inline-block;
      width: 35%;
      margin-right: 15px;
      margin-bottom: 10px;
      margin-left: 15px;
      .list {
        ul {
          padding: 0;
        }
      }
    }
  }
}

.goto-top {
  position: fixed;
  bottom: 50px;
  right: 40px;
  cursor: pointer;
}

.glyphicon {
  font-size: 150%;
}