.new-articles {
  padding-top: 10px;
}

.newest-article {
  border-bottom-style: ridge;
  .picture {
    float: left;
    background-color: rgba(238, 253, 252, 0.88);
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
  }
  .title {
    float: left;
    width: 200px;
    margin-left: 15px;
    a {
      color: #2c3e50;
      font-weight: bold;
      font-size: 17px;
      &:hover {
        color: #34495e;
      }
    }
  }
  .content {
    clear: both;
    margin-bottom: 10px;
    h2 {
      strong{
        font-weight: normal;
      }
      font-size: 17px;
      margin-top: 10px;
    }
  }
}

.latest-articles {
  margin-top: 15px;
}

.article {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 20px;
  vertical-align: top;
  .picture {
    background-color: rgba(238, 253, 252, 0.88);
    width: 220px;
    height: 140px;
    margin-bottom: 5px;
    text-align: center;
  }
  .title {
    width: 220px;
    a {
      color: #2c3e50;
      font-weight: bold;
      font-size: 16px;
      &:hover {
        color: #34495e;
      }
    }
  }
}

.sidebar-right {
  padding: 10px 20px;
  .head {
    background-color: #ecf0f1;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    a {
      color: black;
      font-size: 20px;
      font-weight: bold;
    }
    a:hover {
      color: #1abc9c;
      text-decoration: none;
    }
  }
}

.video-area {
  border-bottom-style: ridge;
  padding: 10px;
  margin-top: 10px;
  .video {
    background-color: rgba(26, 188, 156, 0.2);
    height: 120px;
    margin-bottom: 10px;
  }
  .title {
    width: 220px;
    a {
      color: #2c3e50;
      font-weight: bold;
      &:hover {
        color: #34495e;
        text-decoration: none;
      }
    }
  }
  .video-area:first-child {
    margin-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
}

.articles-by-category .category {
  border-top-style: ridge;
  padding: 0;
  margin-bottom: 30px;
  .head {
    background-image: linear-gradient(to bottom, #c5c9c5, white);
    width: 20%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    a {
      color: black;
      font-weight: bold;
      font-size: 23px;
      text-decoration: none;
    }
    a:hover {
      color: #1abc9c;
    }
  }
  .articles {
    margin: 5px;
  }
  .article {
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
  }
  .articles-list {
    display: inline-block;
    width: 35%;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    .list {
      ul {
        padding: 0;
      }
    }
  }
}

.goto-top {
  position: fixed;
  bottom: 50px;
  right: 40px;
  cursor: pointer;
}

.glyphicon {
  font-size: 150%;
}