.sidebar-left {
  background-color: #ecf0f1;
  padding: 10px 20px;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
}

.head-top, .body-top {
  border-bottom-style: ridge;
  padding-bottom: 5px;
  margin-bottom: 10px;
  ul li {
    margin-bottom: 10px;
  }
}

.head-top {
  text-align: center;
  a {
    color: black;
    font-size: 20px;
  }
  a:hover {
    color: #1abc9c;
    text-decoration: none;
  }
}

.footer-top {
  text-align: right;
  a {
    color: black;
    font-weight: normal;
  }
}

.new-articles {
  padding-top: 10px;
}

.newest-article {
  border-bottom-style: ridge;
  .picture {
    float: left;
    background-color: white;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
  }
  .title {
    float: left;
    width: 220px;
    margin-left: 15px;
    a {
      color: #2c3e50;
      font-weight: bold;
      font-size: 17px;
      &:hover{
        color: #34495e;
      }
    }
  }
  .content {
    clear: both;
    height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
  }
}

.latest-artciles {
  margin-top: 15px;
}

.article {
  display: inline-block;
  margin-left: 30px;
  .picture {
    /*rgba(255,0,0,0.098)*/
    background-color: white;
    width: 220px;
    height: 140px;
    margin-bottom: 10px;
    text-align: center;
  }
  .title {
    width: 220px;
    a {
      color: #2c3e50;
      font-weight: bold;
      font-size: 16px;
      &:hover {
        color: #34495e;
      }
    }
  }
}

.sidebar-right {
  padding: 10px 20px;
  .head {
    background-color: #ecf0f1;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    a {
      color: black;
      font-size: 20px;
      font-weight: bold;
    }
    a:hover {
      color: #1abc9c;
      text-decoration: none;
    }
  }
}

.video-area {
  border-bottom-style: ridge;
  padding-bottom: 10px;
  margin-top: 10px;
  padding-left: 13px;
  .video {
    background-color: rgba(26, 188, 156,0.2);
    width: 220px;
    height: 120px;
    margin-bottom: 10px;
  }
  .title {
    width: 220px;
    a {
      color: #2c3e50;
      font-weight: bold;
      &:hover {
        color:#34495e;
        text-decoration: none;
      }
    }
  }
  &:last-child{
    border-bottom:none;
  }
}

.articles-by-category .category {
  border-top-style: ridge;
  padding: 0;
  margin-bottom: 30px;
  .head {
    background-image: linear-gradient(to bottom, #c5c9c5, white);
    width: 20%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    a {
      color: rgb(206, 49, 49);
      font-weight: bold;
      font-size: 20px;
    }
    a:hover {
      text-decoration: none;
      color: black;
    }
  }
  .article {
    margin-left: 15px;
    display: inline-block;
  }
  .articles-list {
    float: right;
    width: 35%;
    margin-right: 15px;
    .list {
      margin-left: 25px;
    }
  }
}

.goto-top {
  position: fixed;
  bottom: 50px;
  right: 40px;
  cursor: pointer;
}

.glyphicon {
  font-size: 150%;
}