.content {
  width: 40%;
  margin-top: 50px;
}

.btn {
  margin-left: 10px;
}

.navbar.navbar-inverse {
  border-radius: 0px;
  .nav.navbar-nav {
    li a {
      color: white;
    }
    > li > a:focus, > li > a:hover {
      color: #d8f3fd;
    }
    .dropdown .dropdown-menu {
      li a {
        color: black;
      }
    }
  }
}


